<h1>Hi <%= @user.name %>,</h1>

<p>Today its a Rich day <br>
You will spend (or win) a lot of money with rich people !
and most of all, we will be rich too thanks to you !</p>


<p>the Swagga Castle Team</p>

<p>If you want to spend money for amazing pool, visit our friend at : <%= link_to "poule mouillée ", "http://poolmouillee.herokuapp.com/pools/146" %></p>
