#banner {
position: relative;
background-image:asset-url('bg_home.jpg');
background-size: cover;
padding-top: 550px;
padding-bottom: 50px;
// margin-bottom: 50px;
font-size: 50px;
text-align: center;
margin-top: 0px;
}

.navbar {
 margin-bottom: 0px;
}

#home_title {
 font-size: 50px;
 color: $black;
}

#h2_home {
 font-size: 30px;
 color: $gray-darker;

}
#featured {
 margin: 50px;
}

.featured_image {
width: 200px;
height: 200px;
}

.text_featured {
 color: $gray-dark;
 font-size:15px;
 text-align: center;

}

#h2_featured {
 text-align: center;
 // margin-bottom: 50px;
 font-family: $header-font;
}

#h4_featured {
 text-align: center;
 margin-bottom: 50px;
 font-family: $header-font;
}

.pics-padding-bottom {
 padding: 20px;
}
.title_cool {
 background-color: rgba(250,250,250,0.2);
 margin-bottom: 10px;
 border: 1px solid;
 border-radius: 3%;
 border-color:rgba(240,240,240,0.2);
}
#guest-btn {
 width: 110px;
}
#date-btn {
 width: 150px;
}
#submit-btn {
 width: 150px;
}

.position-home {
 position:absolute;
 bottom: 200px;
}


.position-card {
 position:absolute;
 bottom: 300px;
 left: 40px;
 border-style: solid;
 border-width: 0px;
 background-color: rgba(250,250,250,0.3);
 font-size: 30px;
 padding-left: 20px;
 padding-right: 40px;
}

.country-link {
 color: white
}

.research-bar {
 padding-top: 20px;
 padding-bottom: 20px;
 margin-bottom: 30px;
}


// .resize-feature {
//   width: 400px;
//   height: 400px;
// }

.text-center {
 text-align:center;
}

.padd {
 padding: 50px 0px;
}

.padd-img {
 padding: 20px 0px;
}
.absolute {
 position: absolute;
 background-color: transparent;
 border-radius: 2px;
 top: 200px;
 left: 169px;
 padding-top: 20px;
 padding-bottom: 20px;
 color: white;
 font-size: 30px;
 text-shadow: black 0.1em 0.1em 0.2em;
}

.absolutebis {
position: absolute;
background-color: transparent;
border-radius: 2px;
top: 200px;
left: 133px;
padding-top: 20px;
padding-bottom: 20px;
color: white;
font-size: 30px;
text-shadow: black 0.1em 0.1em 0.2em;
}

.absolute2 {
 position: absolute;
 background-color: transparent;
 border-radius: 2px;
 padding-top: 20px;
 padding-bottom: 20px;
 top: 200px;
 left: 326px;
 color: white;
 font-size: 30px;
 text-shadow: black 0.1em 0.1em 0.2em;
}

.absolute3 {
 position: absolute;
 background-color: transparent;
 border-radius: 2px;
 padding-top: 20px;
 padding-bottom: 20px;
 top: 200px;
 left: 61px;
 color: white;
 text-shadow: black 0.1em 0.1em 0.2em;
 font-size: 30px;
}
.relative {
 position: relative;
} (edited)
