.pic-index {
  width: 100%;
  height: 100%
}

.image {
width: 270px;
height: 200px;
overflow:hidden;
border-radius: 4px;
}


.image2 {
width: 290px;
height: 220px;
overflow:hidden;
border-radius: 4px;
}

