.img_guest {
  width:140px;
  height: 80;
  // float: left;
  align: center;
  margin-right: 10px;
  }
.img_places{
  width:80px;
  height: 80px;
  float: left;
  border-radius: 4%;
  margin-right: 10px;
}

.field_align {
  text-align: left;
}



