#bg_signin {
  background: url("sign_up.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }


.h3 {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Helvetica";
  font-size: 20px;
  text-align: right;
  color: rgb(150,150,150);
  border: solid 1px;
  border-color: transparent;
  text-decoration: overline;
}




.btn-marg {
  margin-bottom: 89px;
  margin-top: 27px;

}
