#bg_signup {
  background: url("bgdevise.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.margin {

  margin:20px;

}
