<div id="footer">
    <div class="row">
      <div class="col-xs-3">
                <ul class="list-inline" id="text-align-right">
          <li><a href="http://www.facebook.com" target="_blank"><i class="fa fa-youtube-square fa-footer"></i></a></li>
          <li><a href="http://www.facebook.com" target="_blank"><i class="fa fa-instagram fa-footer"></i></a></li>
          <li><a href="http://www.facebook.com" target="_blank"><i class="fa fa-facebook-square fa-footer"></i></a></li>
          <li><a href="http://www.facebook.com" target="_blank"><i class="fa fa-twitter-square fa-footer"></i></a></li>
        </ul>
      </div>
      <div class="col-xs-8">
        <p id="text-align-right">
          OurBnb is a registred trademark of LeWagon LLC.
        </p>
      </div>
    </div>
  </div>
