.card {

  margin-left: 20px;
  margin-right: 20px;
  padding-top: 30px;
  padding-bottom: 120px;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
