/* -------------------------------------
 * You killer form SASS module
 * ------------------------------------- */
.nifty_form {
  font-size: 20px;
  margin-top :200px;
  font-family: "Open-sans";
  font-size : 15px;
}
