/* -------------------------------------
 * You killer form SASS module
 * ------------------------------------- */
.nifty_form {
  font-size: 17px;
  // margin-top :200px;
  // font-family: "Open-sans";
  // font-size : 15px;
}

#rooms {
  width: 40px;
}


.booking-form {
  // width: 250px;
  padding-left: 200px;
}
