.position-price {
  border-radius: 2px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  font-size: 30px;
  position: absolute;
  padding-left: 40px;
  padding-right: 20px;
  top: 20px;
  background-color: rgba(0,0,0,0.3);
}

.position-price2 {
  border-radius: 2px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  font-size: 20px;
  position: absolute;
  padding-left: 40px;
  padding-right: 20px;
  top: 53px;
  left: 90px;
  background-color: rgba(0,0,0,0.5);
}

.position-price3 {
  border-radius: 2px;
  padding-top:10px;
  padding-bottom: 10px;
  color: white;
  font-size: 20px;
  position: absolute;
  padding-left: 15px;
  padding-right: 15px;
  top: 151px;
  left: 25px;
  background-color: rgba(0,0,0,0.6);
}

.relative {
  position: relative;
}

.img-position {
  position: absolute;
  width: 15%;
  border: solid 1px;
  border-color: white;
  top: 193px;
  right: 4px;
}
