.position-price {
  border-radius: 4px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  font-size: 30px;
  position: absolute;
  padding-left: 40px;
  padding-right: 20px;
  top: 20px;
  background-color: rgba(0,0,0,0.3);
}
