.position-price {
  border-radius: 2px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  font-size: 30px;
  position: absolute;
  padding-left: 40px;
  padding-right: 20px;
  top: 278px;
  background-color: rgba(0,0,0,0.3);
}

.position-price2 {
  border-radius: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-size: 20px;
  position: absolute;
  padding-left: 20px;
  padding-right: 20px;
  top: 0px;
  left: 209px;
  background-color: rgba(0,0,0,0.5);
}

.position-price3 {
  border-radius: 2px;
  padding-top:10px;
  padding-bottom: 10px;
  color: white;
  font-size: 20px;
  position: absolute;
  padding-left: 15px;
  padding-right: 15px;
  top: 151px;
  left: 25px;
  background-color: rgba(0,0,0,0.6);
}

.position-price-home {
  border-radius: 2px;
  padding-top:10px;
  padding-bottom: 10px;
  color: white;
  font-size: 20px;
  position: absolute;
  padding-left: 15px;
  padding-right: 15px;
  top: 251px;
  left: 97px;
  background-color: rgba(0,0,0,0.6);
}

.relative {
  position: relative;
}

.img-position {
  position: absolute;
  width: 15%;
  border: solid 1px;
  border-color: white;
  top: 193px;
  right: 4px;
}

.img-position2 {
  position: absolute;
  width: 19%;
  border: solid 1px;
  border-color: white;
  top: -27px;
  right: 145px;
}

.name-position {
  text-shadow: black 0.1em 0.1em 0.2em;
  color: white;
  position: absolute;
  font-size: 20px;
  top: 169px;
  right: 55px
}


.position-statut {
text-shadow: black 0.1em 0.1em 0.2em;
  color: white;
  position: absolute;
  font-size: 16px;
  top: 158px;
  right: 83px;
}

.position-price4 {
  border-radius: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-size: 30px;
  position: absolute;
  padding-left: 20px;
  padding-right: 20px;
  top: 316px;
  left: 0px;
  background-color: rgba(0,0,0,0.5);
}
